---
import Layout from "../layouts/Layout.astro";
import Tech from "../components/Tech.astro";
import Projects from "../components/Projects.astro";
import Contact from "../components/Contact.astro";
import Header from "../components/Header.astro";
import Form from "../components/ReactComponents/Form";

const emailJsConfig = {
  serviceId: import.meta.env.EMAILJS_SERVICE_ID,
  templateId: import.meta.env.EMAILJS_TEMPLATE_ID,
  userId: import.meta.env.EMAILJS_USER_ID,
};
---

<Layout>
  <main class="max-w-screen-xl mx-auto p-5 px-8 sm:px-12 md:px-20 lg:px-28 ">
    <Header />
    <section
      id="inicio"
      class="first-sec mb-10 pb-10 section-transition section-transition-active"
    >
      <h1
        class="text-5xl sm:text-5xl md:text-7xl lg:text-8xl font-extrabold"
        style="letter-spacing: -0.12em;"
      >
        <span class="animate-fade">H</span>
        <span class="animate-fade" style="animation-delay: 1.0s;">o</span>
        <span class="animate-fade" style="animation-delay: 2.0s;">l</span>
        <span class="animate-fade" style="animation-delay: 3.0s;">a</span>
        <span class="animate-fade" style="animation-delay: 4.0s;">!</span>
      </h1>
      <h1 class="flex flex-col text-3xl font-bold">
        <span> Soy Luis Hernández </span>
        <span class="subhead">Desarrollador Web</span>
      </h1>
      <h2 class="flex flex-col items-center mt-8">
        <span class="text text-[14px] justify-center sm:w-96">
          ¡Bienvenido a mi portfolio! 👨‍💻 Soy estudiante de Ingeniería de
          Sistemas en la Universidad del Valle (8vo semestre) y me encanta
          construir cosas en la web. Desde interfaces atractivas hasta
          soluciones backend eficientes, disfruto cada parte del proceso de
          desarrollo.
        </span>
        <span class="flex space-x-4 items-center mt-5">
          <p>luishsg1@gmail.com</p>
          <a
            href="https://www.linkedin.com/in/lfhernandezsolis/"
            target="_blank"
          >
            <img
              class="w-12 h-12"
              src="images/linkedin.png"
              alt="imagen con link hacia perfil de linkedin"
            />
          </a>
          <a href="https://github.com/lfhernandez03"
            ><img
              class="w-12 h-12"
              src="images/github.png"
              alt="imagen con link hacia perfil de github"
            /></a
          >
        </span>
        <div class="mt-5">
          <span class="flex items-center space-x-10">
            <i class="fa-solid fa-arrow-right"></i>
            <div class="flex flex-col items-center">
              <a href="\CV_Luis_Hernandez.pdf" target="_blank" class="text-sm"
                >Ver CV
              </a>
              <span class="border-2 w-full rounded-full"></span>
            </div>
            <i class="fa-solid fa-arrow-left"></i>
          </span>
        </div>
      </h2>
    </section>
    <section class="section-transition mb-10 pb-10">
      <h2 class="text-3xl font-bold">
        <span>Tecnologías</span>
        <div class="w-64 border-2 mt-1"></div>
      </h2>
      <div class="grid grid-cols-1 md:grid-cols-2 pt-10 space-y-5">
        <!-- Lenguajes -->
        <div class="flex flex-col items-center">
          <span class="text-2xl font-bold my-4">Lenguajes</span>
          <div class="grid grid-cols-2 gap-4 items-center justify-center">
            <Tech Src="images/html.png" Alt="HTML" Name="HTML5" />
            <Tech Src="images/css.png" Alt="CSS" Name="CSS3" />
            <Tech Src="images/js.png" Alt="JavaScript" Name="JavaScript" />
            <Tech Src="images/Python.png" Alt="Python" Name="Python" />
          </div>
        </div>
        <!-- Frameworks y Librerías -->
        <div class="flex flex-col items-center">
          <span class="text-2xl font-bold my-4">Frameworks y Librerías</span>
          <div class="grid grid-cols-2 gap-4">
            <Tech Src="images/React.png" Alt="React" Name="React" />
            <Tech Src="images/Astro.png" Alt="Astro" Name="Astro" />
            <Tech Src="images/Node.js.png" Alt="NodeJS" Name="NodeJS" />
            <Tech
              Src="images/TailwindCSS.png"
              Alt="TailwindCSS"
              Name="TailwindCSS"
            />
          </div>
        </div>
        <!-- Herramientas -->
        <div class="flex flex-col items-center md:col-span-2">
          <span class="text-2xl font-bold my-4">Herramientas</span>
          <div class="grid grid-cols-2 gap-4">
            <Tech Src="images/git.png" Alt="Git" Name="Git" />
            <Tech Src="images/figma.png" Alt="Figma" Name="Figma" />
          </div>
        </div>
      </div>
    </section>
    <section class="section-transition mb-10 pb-10">
      <h2 class="text-3xl font-bold">
        <span>Proyectos</span>
        <div class="w-64 border-2 mt-1"></div>
      </h2>
      <div class="flex flex-col pt-12">
        <Projects />
      </div>
    </section>
    <section class="section-transition mb-10 pb-10">
      <h2 class="text-3xl font-bold pt-10">
        <span>Sobre Mí</span>
        <div class="w-64 border-2 mt-1"></div>
      </h2>
      <section class="md:flex md:justify-between text text-[14px] sm:w-96 mx-auto mt-10 md:space-x-6 space-y-6">
        <article>
          <p>
            💡 Trabajo con JavaScript y Python, usando ReactJS, Astro y
            TailwindCSS para el frontend, y Node.js para el backend. También
            manejo bases de datos como PostgreSQL y MongoDB. Me gusta mantener
            mi código limpio y bien estructurado, siempre siguiendo buenas
            prácticas.
          </p>
        </article>
        <article>
          <p>
            📌 Además, utilizo herramientas como Git, GitHub, Jira y Azure
            DevOps para la gestión de proyectos y versionado. Y cuando se trata
            de diseño, me apoyo en Figma para crear prototipos funcionales y
            atractivos.
          </p>
        </article>
      </section>
    </section>
    <section id="contact" class="section-transition mb-10 pb-10">
      <h2 class="text-3xl font-bold pt-10">
        <span>Contacto</span>
        <div class="w-64 border-2 mt-1"></div>
      </h2>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-10 pt-10 justify-center">
        <section>
          <h3 class="flex items-center justify-center pt-10 pb-4">
            <span class="text-2xl font-bold">Enlaces</span>
          </h3>
          <div class="flex pt-10 w-full justify-center">
            <div class="flex flex-col space-y-4">
              <Contact
                title="Correo Electrónico"
                text="luishsg1@gmail.com"
                src="images/gmail.png"
                href="https://mail.google.com/mail/u/0/#inbox?compose=GTvVlcSBmlkCnkFgLpHXqpLSFBWDCLJzlmdgzMbZLFtVqxhzMDJCdDwZnDtQPJHmGstqJFxbZJJvX"
              />
              <Contact
                title="LinkedIn"
                text="Luis Hernández"
                src="images/linkedin.png"
                href="https://www.linkedin.com/in/lfhernandezsolis/"
              />
              <Contact
                title="GitHub"
                text="Luis Hernández"
                src="images/github.png"
                href="https://github.com/lfhernandez03"
              />
            </div>
          </div>
        </section>
        <section>
          <h3 class="flex items-center justify-center pt-10 pb-4">
            <span class="text-2xl font-bold"> Formulario de Contacto </span>
          </h3>
          <Form client:load {...emailJsConfig} />
        </section>
      </div>
    </section>
    <footer class="flex justify-between items-center mt-10">
      <p class="text-center">&copy; 2025 Luis Hernández.</p>
      <a href="#inicio">Volver al Inicio</a>
    </footer>
  </main>
  <style>
    @keyframes fadeInOut {
      0%,
      100% {
        opacity: 1;
      }
      50% {
        opacity: 0;
      }
    }

    .animate-fade {
      animation: fadeInOut 10s infinite;
    }

    .first-sec {
      height: 100vh; /* Ocupa todo el viewport */
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
    }

    .section-transition {
      opacity: 0;
      transition: opacity 0.5s ease-in-out;
    }

    .section-transition-active {
      opacity: 1;
    }
  </style>
  <script>
    document.addEventListener("DOMContentLoaded", function () {
      const sections = document.querySelectorAll(".section-transition");
      console.log("Sections to observe:", sections);

      const observer = new IntersectionObserver(
        (entries) => {
          entries.forEach((entry) => {
            console.log("Entry:", entry);
            if (entry.isIntersecting) {
              console.log("Intersecting:", entry.target);
              entry.target.classList.add("section-transition-active");
            } else {
              console.log("Not intersecting:", entry.target);
              entry.target.classList.remove("section-transition-active");
            }
          });
        },
        {
          threshold: 0.3, // Se activa cuando el 30% de la sección es visible
        }
      );

      sections.forEach((section) => {
        console.log("Observing section:", section);
        observer.observe(section);
      });
    });
  </script>
</Layout>
