---
import Layout from "../layouts/Layout.astro";
import Tech from "../components/Tech.astro";
import Projects from "../components/Projects.astro";
import Inputs from "../components/Inputs.astro";
import Contact from "../components/Contact.astro";
import Header from "../components/Header.astro";
---

<Layout>
  <main class="max-w-screen-xl mx-auto p-5 px-8 sm:px-12 md:px-20 lg:px-28">
    <Header />
    <section class="first-sec mb-10 pb-10">
      <h1
        class="text-5xl sm:text-5xl md:text-7xl lg:text-8xl font-extrabold"
        style="letter-spacing: -0.12em;"
      >
        <span class="animate-fade">H</span>
        <span class="animate-fade" style="animation-delay: 1.0s;">o</span>
        <span class="animate-fade" style="animation-delay: 2.0s;">l</span>
        <span class="animate-fade" style="animation-delay: 3.0s;">a</span>
        <span class="animate-fade" style="animation-delay: 4.0s;">!</span>
      </h1>
      <h1 class="flex flex-col text-3xl font-bold">
        <span> Soy Luis Hernandez </span>
        <span class="subhead">Desarrollador Web</span>
      </h1>
      <h2 class="flex flex-col items-center mt-8">
        <span class="text text-[14px] justify-center sm:w-96">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat.
        </span>
        <span class="flex space-x-4 items-center mt-5">
          <p>luishsg1@gmail.com</p>
          <img class="w-12 h-12" src="/linkedin.png" alt="linkedin" />
          <img class="w-12 h-12" src="/github.png" alt="github" />
        </span>
      </h2>
    </section>
    <section class="">
      <h2 class="text-3xl font-bold">
        <span>Tecnologías</span>
        <div class="w-64 border-2 mt-1"></div>
      </h2>
      <div class="grid grid-cols-1 md:grid-cols-2  pt-10">
        <!-- Lenguajes -->
        <div class="flex flex-col items-center">
          <span class="text-2xl font-bold mb-4">Lenguajes</span>
          <div class="grid grid-cols-2 gap-4 items-center justify-center">
            <Tech Src="/html.png" Alt="HTML" />
            <Tech Src="/css.png" Alt="CSS" />
            <Tech Src="/js.png" Alt="JavaScript" />
          </div>
        </div>
        <!-- Frameworks y Librerías -->
        <div class="flex flex-col items-center">
          <span class="text-2xl font-bold mb-4">Frameworks y Librerías</span>
          <div class="grid grid-cols-2 gap-4">
            <Tech Src="/React.png" Alt="React" />
            <Tech Src="/Astro.png" Alt="Astro" />
            <Tech Src="/Node.js.png" Alt="NodeJS" />
            <Tech Src="/TailwindCSS.png" Alt="TailwindCSS" />
          </div>
        </div>
        <!-- Herramientas -->
        <div class="flex flex-col items-center md:col-span-2">
          <span class="text-2xl font-bold mb-4">Herramientas</span>
          <div class="grid grid-cols-2 gap-4">
            <Tech Src="/git.png" Alt="Git" />
            <Tech Src="/figma.png" Alt="Figma" />
          </div>
        </div>
      </div>
    </section>
    <section>
      <h2 class="text-3xl font-bold pt-20">
        <span>Proyectos</span>
        <div class="w-64 border-2 mt-1"></div>
      </h2>
      <div class="flex flex-col pt-12">
        <Projects />
      </div>
    </section>
    <section>
      <h2 class="text-3xl font-bold pt-10">
        <span>Sobre Mi</span>
        <div class="w-64 border-2 mt-1"></div>
      </h2>
      <p class="text text-[14px] text-center mt-10 sm:w-96 mx-auto">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat.
        <br />
        <br />
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
        nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      </p>
    </section>
    <section>
      <h2 class="text-3xl font-bold pt-10">
        <span>Contacto</span>
        <div class="w-64 border-2 mt-1"></div>
      </h2>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-10 pt-10 justify-center">
        <section>
          <h3 class="flex items-center justify-center pt-10 pb-4">
            <span class="text-2xl font-bold">Enlaces</span>
          </h3>
          <div class="flex pt-10 w-full justify-center">
            <div class="flex flex-col space-y-4">
              <Contact
                title="Correo Electronico"
                text="luishsg1@gmail.com"
                src="/gmail.png"
              />
              <Contact
                title="LinkedIn"
                text="Luis Hernandez"
                src="/linkedin.png"
              />
              <Contact title="GitHub" text="Luis Hernandez" src="/github.png" />
            </div>
          </div>
        </section>
        <section>
          <h3 class="flex items-center justify-center pt-10 pb-4">
            <span class="text-2xl font-bold"> Formulario de Contacto </span>
          </h3>
          <form action="submit">
            <div class="flex flex-col">
              <Inputs
                type="text"
                name="Nombre Completo"
                placeholder="Luis Hernandez"
                required
              />
              <Inputs
                type="email"
                name="Email"
                placeholder="example@example.com"
                required
              />
            </div>
            <Inputs
              type="text"
              name="Asunto"
              placeholder="Oferta Laboral/Practicas"
              required
            />
            <div class="mt-2">
              <label for="Mensaje" class="text-sm">Mensaje</label>
              <textarea
                class="w-full h-20 border-2 rounded-md px-2  mt-1"
                name="Mensaje"
                id="Mensaje"
                placeholder="Escribe tu mensaje aqui"></textarea>
            </div>
            <button
              class="w-full h-8 border-2 rounded-md px-2 mt-2 bg-white text-black font-bold"
            >
              Enviar
            </button>
          </form>
        </section>
      </div>
    </section>
    <style>
      @keyframes fadeInOut {
        0%,
        100% {
          opacity: 1;
        }
        50% {
          opacity: 0;
        }
      }

      .animate-fade {
        animation: fadeInOut 10s infinite;
      }

      .first-sec {
        height: 100vh; /* Ocupa todo el viewport */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
      }
    </style>
  </main>
</Layout>