---
import Button from "./Button.astro";
---

<header class="flex justify-between items-center p-5">
  <h1>Luis Hernández</h1>
  <Button label="Contactame 😊" />
  <div class="flex space-x-4">
    <Button label="🌙" onClick={() => console.log("Theme toggled")} />
    <Button label="😎" onClick={() => console.log("Theme toggled")} />
  </div>
</header>
