---
const { Src, Alt } = Astro.props;
---

<div class="">
  <div class="tech-item">
    <div class="w-28 h-28 rounded-full bg flex items-center justify-center">
      <img class="w-16 object-cover" src={Src} alt={Alt} />
    </div>
  </div>
</div>

<style>
  .bg {
    background-color: var(--tech-bg-color); /* Utiliza una variable CSS para el fondo */
  }
  .tech-item {
    margin: 0.5rem;
  }
</style>
