---
import "../styles/global.css";
---

<!doctype html>
<html lang="en" data-theme="light">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="stylesheet" href="https://use.typekit.net/xxb4sbg.css" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
      rel="stylesheet"
    />
    <meta name="generator" content={Astro.generator} />
    <title>Portfolio</title>
  </head>
  <body>
    <div class="relative w-full h-full min-h-screen">
      <slot />
    </div>
  </body>
</html>

<style is:global>
  html {
    font-family: "Coolvetica", sans-serif;
    background: var(--background-color);
    scroll-behavior: smooth;
  }

  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    transition: background 0.3s ease-in-out;
  }
  .subhead {
    font-family: "kepler-std-subhead", serif;
    font-weight: 400;
    font-style: italic;
  }

  .text {
    font-family: "neue-haas-grotesk-text", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  /* 🎨 Asegura que los cambios de tema se reflejen */
  html[data-theme="light"] {
    --background-color: #f7f7f7f7;
    --background: radial-gradient(
      ellipse 80% 80% at 50% -20%,
      rgba(120, 119, 198, 0.3),
      rgba(255, 255, 255, 0)
    );
    color: black;

    --tech-bg-color: rgba(
      0,
      0,
      0,
      0.15
    ); /* Fondo negro translúcido para el tema claro */
  }
  html[data-theme="dark"] {
    --background-color: #1a1a1a;
    --background: radial-gradient(
      ellipse 80% 80% at 50% -20%,
      rgba(120, 119, 198, 0.3),
      rgba(0, 0, 0, 0)
    );
    color: #ffffff;

    --tech-bg-color: rgba(
      255,
      255,
      255,
      0.15
    ); /* Fondo blanco translúcido para el tema oscuro */
  }
</style>
