---
import "../styles/global.css";
import Header from "../components/Header.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro Basics</title>
    <link rel="stylesheet" href="https://use.typekit.net/xxb4sbg.css" />
  </head>
  <body>
    <div class="relative w-full h-full min-h-screen">
      <div
        class="absolute top-0 z-[-2] w-full h-full bg-neutral-950 bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(120,119,198,0.3),rgba(255,255,255,0))]"
      >
      </div>
      <Header />
      <slot />
    </div>
  </body>
</html>

<style is:global>
  html {
    font-family: "Coolvetica", sans-serif, "kepler-std-subhead", serif;
  }
  :root {
    color-scheme: light dark;
  }
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  .subhead {
    font-family: "kepler-std-subhead", serif;
    font-weight: 400;
    font-style: italic;
  }

  .text {
    font-family: "neue-haas-grotesk-text", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
</style>